header {
    width: 100%;
    height: 70px;
    background-color: var(--banner-bg-colour);
    color: var(--heading-text);
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
}